body {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	padding-top: calc(50vh - 23vw);
	background-image: -webkit-linear-gradient(top left, #5cc8ff 0%, #d63c6b 100%);
	background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.shadow {
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .35);
	transition: all .3s ease;
}

.shadow:hover {
	box-shadow: 0 0.3125em 1.25em 0 rgba(46, 61, 73, .20);
}

.calc-container {
	padding: 0 !important;
	min-width: 320px;
	max-height: 100vh;
	border-style: solid;
	border-color: white;
}

.screen {
	height: 100px;
	background: rgba(41, 47, 54, 0.6) !important;
	resize: none;
	border: solid #1c2128;
	border-width: 0 0 10px;
	border-radius: 0 !important;
	color: #d63c6b;
	font-size: 2.5em;
	text-align: right;
	overflow: auto;
}

.keypad {
	position: relative;
	background: #292f36;
	padding: 5% 0 5% !important;
}

.keypad .row {
	padding: 0;
	margin: 0;
	background: #292f36;
}

.btn {
	padding-top: 5% !important;
	padding-bottom: 5% !important;
	background: transparent;
	color: #5cc8ff;
	font-size: 2em !important;
}

.btn:hover {
	color: #00a3f5 !important;
}

.operator {
	color: #d63c6b;
	font-weight: 600 !important;
}

.operator:hover {
	color: #c41c4f !important;
}

.screen.active.focus,
.screen.active:focus,
.screen.focus,
.screen:active.focus,
.screen:active:focus,
.screen:focus,
.screen.active,
.screen:active {
	outline: none !important;
	color: #c41c4f !important;
	box-shadow: none !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn.active,
.btn:active {
	outline: none !important;
	color: #00a3f5 !important;
	box-shadow: none !important;
}

.operator.active.focus,
.operator.active:focus,
.operator.focus,
.operator:active.focus,
.operator:active:focus,
.operator:focus,
.operator.active,
.operator:active {
	color: #c41c4f !important;
}

@media (max-width: 991px) {
	body {
		padding: 0;
	}

	.container-fluid {
		padding: 0 !important;
	}

	.screen {
		height: 20vh;
		max-height: 20vh;
	}

	.keypad {
		height: 100% !important;
		max-height: 80vh;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.btn {
		font-size: 3em !important;
	}
}
