@import url('https://fonts.googleapis.com/css?family=Nunito|Montserrat|Great+Vibes: 400, 500&display=swap');

* {
  box-sizing: border-box;
}

body, html{
  font-family: 'Nunito', Arial, 'Helvetica';
    height: 100%;
}

nav a.nav-link.active.menu-button {
  color: rgba(0, 0, 0, 0.87);
  font: 16px 'Nunito';
  background: none;
  padding: 14.8571px 18.28571px;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
}

nav a.navbar-brand {
  color: rgba(0, 0, 0, 0.87);
  font: 1.5em 'Nunito';
  padding: 16.7143px 20.5714px;
  background: #ffffff;
}

i.fa.fa-coffee{
  margin-right: 5px;
  font-size: 1.2em;
}

.navbar-toggler-icon {
  width: 0.5em;
  height: 0.5em;
}

nav {
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
}


h1 {
  font-weight: 500;
}

.welcome-image {
  background-image: url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-text {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: 300;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 70%;
  padding: 20px;
  text-align: center;
  margin-top: 25px;
  /* font-size: 2rem; */
}

.welcome-text p{
  font-size: 1.4rem;
}

span {
  font-size: 4rem;
  font-family: 'Great Vibes', 'Montserrat', cursive;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: none;
}

button.btn{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8px;
    border-radius: 0;
    margin: 10px;
}


i.coffee.icon{
  font-size: 2em;
}

span.brand-name{
  font-family: 'Sevillana', 'Montserrat', cursive;
  font-size: 1.5em !important;
}


.footer {
  background: #1B1C1D;
  color: rgba(255, 255, 255, 0.9); 
  text-align: center;
  width: 100%;
  padding: 20px;
}

.footer{
  padding: 20px;
}  



.social-media{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.social-media li{
  display: inline-block;
  margin: 10px;
}

.social-media li .fa{ 
  background: #5d5d5d;
  color: #262626;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align:center;
  line-height:50px;
  transition: all .3s ease;
}

.social-media .fa:hover {
  transition: all .3s ease;
  box-shadow: 5px 5px 5px #000;
  transform: translateY(-5px);
}

.social-media .fa.fa-twitter:hover{
  background:#55acee;
  color:#fff;
 
}

.social-media .fa.fa-facebook:hover{
  background:#3b5998;
  color:#fff;
}

.social-media .fa.fa-linkedin:hover{
  background:#0083be;
  color:#fff;
}

.social-media .fa.fa-instagram:hover{
  background:#6a453b;
  color:#fff;
}