* { 
  padding: 0; 
  margin: 0; 
}

body {
  background-color: #f5f7fa;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.container {
  margin: 20px auto 0;
  position: relative;
}

.button__restart,
.overlay {
  display: none;
}

.game-over .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fa709a;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  position: absolute;
  top: 0;
  width: 480px;
  height: 320px;
  left: 400px;
  opacity: .5;
  margin: 0 auto;
  color: white;
  text-align: center;  
  text-transform: uppercase;
  letter-spacing: 4px;
}


.game-over .button__restart {
  display: block;
  cursor: pointer;
  margin: 10px auto;
  background: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  min-width: 200px;
  text-transform: uppercase;
  font-size: 18px;
  transition: .2s;
}

.game-over .button__restart:hover {
  background:#ffbbbb;
  color: white;
}

canvas { 
  background: #eee; 
  display: block; 
  margin: 0 auto; 
}