{% extends "bma/base_simples.html" %}

{% block icone_dinamico %}
  <a href="{% url 'usuario_auth' %}" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-plus"></span> Cadastre-se!</a>
{% endblock %}


{% block content %}
  {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
      <table>
      <tr>
          <td>Usuário:</td>
          <td>{{ form.username }}</td>
      </tr>
      <tr>
          <td>Senha:</td>
          <td>{{ form.password }}</td>
      </tr>
      </table>

      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
