<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" type = 'text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Signup</title>
</head>
<body>
   <div class = 'container'>
       <div class = "signup-box">
           <div class = 'title'>
               CREATE  ACCOUNT
           </div>
           <div class = 'row'>
               <div class = 'col'>
                   <div class="textboxtop">
                       <input type="text" placeholder="First Name">
                   </div>
               </div>
               <div class = 'col' align='right'>
                   <div class="textboxtop">
                       <input type="text" placeholder = 'Last Name'>                      
                   </div>
               </div>
           </div>
           <div class="textbox">
               <input type="text" placeholder="Email">
           </div>
           <div class="textbox">
                <input type="password" placeholder="Password">
           </div>
           <div class="textbox">
               <input type="password" placeholder="Confirm Password">
           </div>
           <div class="button">
               <input type="button" value='Signup'>
           </div>
           
       </div>
   </div>
            
</body>
</html>