/*voice effect*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
html {
    font-size: 16pt;
    font-family: crimson text;
}

article {
    width: 60%;
    margin: auto;
}

blockquote,
div,
h1 {
    text-align: center;
}

blockquote {
    font-size: 1.2rem;
}

.buttons {
    margin-top: 25px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}

#play {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play.svg);
}

#play.played {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play1.svg);
}

#pause {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause.svg);
}

#pause.paused {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause1.svg);
}

#stop {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop.svg);
}

#stop.stopped {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop1.svg);
}

@media (max-width: 700px) {
    html {
        font-size: 14pt;
    }
    article {
        width: 90%;
    }
}




/*  demo decor */

#-demo-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 36px;
    background-color: #D5FFD1;
    color: #0F316C;
    line-height: 36px;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
}

#-demo-profile {
    float: left;
    height: 100%;
    opacity: .4;
}

#-demo-profile:hover {
    opacity: 1;
}

@media (max-width: 400px) {
    #-demo-title {
        font-size: 12pt;
    }
}