body {
  background: #22c1c3;
  background: -webkit-linear-gradient(to left, #2dfdd0, #22c1c3);
  background: linear-gradient(to left, #2dfde1, #22c1c3);
  font-family: 'Roboto Mono', monospace;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator__wrapper {
  width: 350px;
}

.calculator {
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.calculator__display {
  min-height: 75px;
  background-color: #2b2b3b;
  text-align: right;
  color: #fefefe;
}
.calculator__display p {
  font-size: 2.5em;
  padding: 40px 20px;
}

.calculator__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 8px 10px;
}

.calculator__input__button {
  width: 25%;
  text-align: center;
}
.calculator__input__button p {
  margin: 7px;
  padding: 20px;
  border: 1px solid #7e7e8e;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  transition: background-color 0.1s ease-in;
}
.calculator__input__button:hover p {
  cursor: pointer;
  background-color: whitesmoke;
}
.calculator__input__button[data-value='.'] p {
  padding: 17px 20px 23px;
}
.calculator__input__button[data-value='-'], .calculator__input__button[data-value='+'] {
  width: 50%;
}
.calculator__input__button[data-value='='] {
  width: 50%;
}

.calculator__input__button--operator p {
  background-color: #3b3b4b;
  color: #fefefe;
  border: #3b3b4b;
}
.calculator__input__button--operator:hover p {
  background-color: #444456;
}
