* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgb(0, 243, 190),rgb(114, 247, 240));

}

.container {
  width: 800px;
  height: 400px;
  border: 1px solid #154be9;
  border-radius: 20px;
  position: relative;
  background: #fff;
}

.sub-container {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 20px;
}

.button-wrapper {
  position: absolute;
  left: 50%;
  padding: 
  transform: translateX(-50%);
  bottom: 60px;
  border: 1px solid #154be9;
  text-align: center;
  width: 9rem;
  height: 3rem;
  color: #154be9;
  font-weight: 600;
  transition: background 0.5s;
  z-index: 0;
}

label {
  padding-top: 12px;
  cursor: pointer;
  transition: all 0.5s;
}

[type="radio"] {
  opacity: 0;
  z-index: 5;
}

[type="radio"],
label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[type="radio"]:checked + label {
  background: #154be9;
  color: white;
}


.form-element:first-child {
  margin-top: 5px;
}

.form-element {
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100%;
  font-size: 1rem;
  font-weight:600;
  border: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  transition: transform 0.5s 0.6s;
}

.form-element:focus {
  outline: none;
}

.form-card {
  position: absolute;
  z-index: 2;
  background: #fff;
  padding: 45px 40px;
  width: 250px;
  height: 315px;
  overflow: hidden;
  transform: translate(-420px, -330px);
  box-shadow: 2px 4px 80px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s 0.6s;
}

.form-button {
  background: #3db371;
  display: block;
  width: 100%;
  border: transparent;
  color: #fff;
  border-radius: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
}

.form-button:active,
.form-button:focus {
  background: #66cdaa;
  outline:none;
}

.button-text {
  margin: 0;
  height: 20px;
  transform: translateY(-10px);
  transition: transform 0.5s 0.6s;
}

#login:checked ~ .form-card {
  transform: translate(-150px, -330px);
}

#login:checked ~ .form-card .form-element {
  transform: translateY(-163px);
}

#login:checked ~ .form-card .button-text {
  transform: translateY(-49px);
}
