
header
{
	position: relative;
	z-index: 1000;
}
p
{
	font-size: 1.15rem;
}
.navbar
{
	transition: 0.5s;
}
.navbar .scrolled
{
	background:#3fb;
	transition: 0.5s;
}
.navbar .navbar-expand-lg .navbar-light .bg-light .fixed-top
{
	color: #000 !important;
	background:#fff;
}
.navbar-light .navbar-nav .nav-link
{
	color: rgba(122,125,125,.8);

}

.navbar-light .navbar-nav .nav-link:hover,

.navbar-light .navbar-nav .nav-link:focus
{
	color: rgba(255,255,255,.8);

}
.banner
{
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
	background:url(img3.jpg);
	background-size:cover;
	margin-bottom: 0; 
}
.banner1:before,
.sec2:before,
.contact before
{
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background:linear-gradient(#000,transparent);
	pointer-events: none;
}
.banner1:after,
.sec2:after,
.contact after

{

	content: '';
	position:absolute;
	bottom: : 0;
	left: 0;
	width: 100%;
	height: 400px;
	background:linear-gradient(260deg,#000,transparent);
	pointer-events: none;	
}
.height100p
{
	height: 100vh;
}
.h100
{
	height:100%;
}
.contentBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}
.contentBox h1
{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 5rem;
}
.contentBox p
{
	color: #fff;
	font-size: 1.3rem;
}
.sec1
{
	padding: 100px 0;
	background:#000;
}
.headerText
{
	color: #fff;
}

.headerText h2
{
	font-size: 2.5rem;
	margin-bottom: 20px;
}
.placeBox
{
	position: relative;
	max-width: 300px;
	height: 400px;
	margin: 0 auto;
	background:#000;
	margin: -top:30px;
}
.placeBox .imgBx
{
	width: 100%;
	height: 100%;
}

.placeBox .imgBx img
{
	object-fit: absolute;
	width: 100%;
	height: 100%;
}

.placeBox .content
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;
}
.placeBox .content h3
{
	position: relative;
	margin: 0;
	padding: 10px;
	background-color: rgba(0,0,0,.95);
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.placeBox .content span
{
	position: relative;
	margin: 0;
	padding: 10px;
	background-color: rgba(0,0,0,.95);
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.sec2
{
	position: relative;
	background:url(img8.jpg);
	background-size: cover;
	height: 100vh; 
}
.sec21  h2
{
	font-weight: 400;
	color: #f45;
	text-transform: uppercase;
	font-size: 3.5rem;

}
.btnD1
{
	border: 2px solid #fff;
	color: #000;
	background:#fff;
	border-radius:50px;
	padding: 15px 50px;
	font-size: 1.15rem;
	outline: none;
	font-weight: 500;
	margin-top: 20px;
}
.blog
{
	position: relative;
	padding: 100px 0;
	background:#000;
}
.blogpost
{
	position: relative;
	width: 100%;
	margin-top: 30px;

}
.blogpost .imgbx img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blogpost .content
{
	padding: 15px;

}

.blogpost .content h3
{
	color: #fff;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 1.5rem;
}
.contact
{
	position: relative;
	padding: 100px 0;
	background:url(img13.jpg);
	background-size: cover;
	min-height: 100vh; 
}
.contact form
{
	z-index: 1000;
}
.contact .form-control
{
	background:transparent;
	border: none;
	border-bottom: 2px solid rgba(255,255,255,.2);
	height: 50px;
	border-radius: 0;
	background:rgba(0,0,0,.6);
	color: #fff;
	font-size: 1.25rem;
}

.contact .form-control:focus,
.contact .form-control:hover
{
	border:none;
	border-bottom: 2px solid rgba(255,255,255,1);
	box-shadow: none;
}
.contact .textarea
{
	min-height: 100px;
}
.contact label
{
	color:#fff;
}
footer
{
	background:#000;
	padding: 50px 0 0;

}
.sci
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sci li
{
	list-style: none;
	margin: 0 20px;
}
.sci li a
{
	color: #777;
	font-size: 2rem;
	transition: 0.5s;
}
.sci li a:hover
{
	color: #fff;
}
.cpryt
{
	color: #777;
	padding: 2;
	text-align: center;
	margin-top: 20px;
}
@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-nav .navlink
	{
		padding-right:1 rem;
		padding-left:1rem;
	}
}

@media (min-width: 992px)
{
	.navbar-light .navbar-toggler
	{
		background:#fff;
		border-radius: 0;
	
	}
	.banner
	{
		min-height: 100vh;
		padding: 100px 0;
	}
	.contentBox h1,
	.sec2 h2
	{
		font-size: 2rem;
	}

	.navbar-expand-lg .navbar-nav .navlink
	{
		padding-right:1 rem;
		padding-left:1rem;
	}
	.sec 1
	{
		padding: 20px 0;
	}
	.headerText1 h2
	{
		font-size: 2rem;
	}
	.blog
	{
		padding: 20px 0;
	}
	.blogpost .imgBx
	{
		height: 200px;
	}
	.contact
	{
		padding: 20px 0;
	}
	.contact .form-control
	{
		height: 40px;
		border:1px solid #fff;
	}
	.btn-primary
	{
		padding: 10px 40px;
		margin-top: 10px;
	}
	footer
	{
		background:#000;
		padding: 0px 0 20px;
	}
	.sci li
	{
		list-style: none;
		margin: 0 10px;
	}
	.sci li a
	{	
		color: #777;
		font-size: 1.5rem;
		transition: 0.5s;
	}
	.sec 2
	{
		height: auto;
		padding: 40px 0;
	}
	
}
