//COLORS
$color-primary: #00416A;
$color-primary-dark: #799F0C;
$color-primary-light: #FFE000;
$color-grey-light: #fafafa;
$color-grey-light-1: #eaeaea;
$color-grey-dark: #777777;
$color-white: #ffffff;
$color-black: #1c1c1c;

//CARD
$card-shadow: 0 1.5rem 4rem rgba($color-black, .15);

$color-secondary-light: #f5af19;
$color-secondary-dark: #f12711;

$color-tertiary-light:#00F260;
$color-tertiary-dark:#0575E6;

$color-quaternary-light:#89fffd;
$color-quaternary-dark:#ef32d9;
//FONT
$default-font-size: 1.6rem;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;