 a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    @include appearance( none );
    margin: 0;
}
input:focus, select:focus, textarea:focus { outline: none; @include box-shadow-input(none); }
input[type=checkbox] { @include appearance( checkbox ); }
input[type=radio] { @include appearance( radio ); }
input:-webkit-autofill {
    @include box-shadow(0 0 0 30px transparent inset);
    background-color: transparent !important;
} 
img { max-width: 100%; height: auto; }
figure { margin: 0; }
p { 
    margin-bottom: 32px;
    margin-top: 0px;
    font-weight: 400;
    span {
        font-weight: bold; 
    }
}
h2 { 
    line-height: 1.2; 
    margin: 0; 
    padding: 0;
    font-weight: bold; 
    color: #fff;
    font-family: 'Poppins';
    font-size: 36px;
    margin-bottom: 10px;
}
.clear { clear: both; }
body {
	font-size: 14px;
    line-height: 1.8;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0px;
    background-image: url('../images/body-bg.jpg');
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center center;
    // padding: 150px 0;
}
.main {
    
    position: relative;
}
.container {
    margin-top: 120px;
    margin-bottom: 70px;
    width: 1123px;
    padding-top: 135px;
    padding-bottom: 115px;
    // padding: 150px 0;
    // background: rgba(177,135,87, 0.75);
    background-image: url('../images/container-bg.png');
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center center;
    overflow: hidden;
}

