@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
margin:0;
padding:0;
background-color:;	
	
}

#menu li{
list-style:none;
display:inline;	
}

#menu a{
	text-decoration:none;
	color:black;
	padding:10px;
	font-size:20px;
	margin:100px;
   font-family: 'Roboto', sans-serif;
	}


.nav{
position: 
top: 0;
left: 0;
margin: 0;
padding: 0;
width: 100%;
height: 80px;	
float:left;
display: flex;	
justify-content: flex-start;	
	
}

.contact-form{
width: 85%;
max-width: 600px;
background: #f1f1f1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 50%);
padding: 30px 40px;
box-sizing: border-box;
border-radius: 8px;
text-align: center;
font-family: 'Roboto', sans-serif;
}

.contact-form h1{
margin-top: 0;
font-weight: 200;
	
}

.txtb{
border:1px solid gray;
margin:8px 0;
padding: 12px 18px;
border-radius: 8px;	
	
}

.txtb label{
display: block;
text-align: left;
color:#333;
text-transform: uppercase;
font-size: 14px;
}

.txtb input, txtb textarea{
width: 100%;
border: none;
background:none;
outline:none;
font-size: 18px;
margin-top: 6px;	
	
}

.btn{
display:inline-block;	
background:rgba(50, 115, 220, 0.3);
padding: 14px 0;
color: white;
text-transform: uppercase;
cursor: pointer;
margin-top: 8px;
width: 100%;
}

@media (min-width: 400px){
	body{
		background:
	}
}













