.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
     border:none;
    cursor:pointer;
  }

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(5px);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark
    ;
    font-weight: bold;
    animation: moveInBottom 1s ease-in-out;
    // Este after especifica que solo la propiedad white hara que el boton after tenga color-white
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary-dark;
    color: $color-white;
    font-weight: bold;
    animation: moveInBottom 1s ease-in-out;
    // Este after especifica que solo la propiedad white hara que el boton after tenga color-white
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transition: all 0.4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s
  }
  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }
  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}