.form{
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    background-color: rgba($color-white, .5);
    border-radius: 5px;
    border: none;
    border-bottom: 3px soilid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
      border-bottom: 5px solid $color-primary;
    }
    
    &:focus:invalid {
      border-bottom: 5px solid $color-secondary-dark;
    }

    &::placeholder {
      color: $color-grey-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark;
    }

  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s
  }

  &__input:placeholder-shown + &__label{
    opacity:0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width:49%;
    display:inline-block;
  }

  &__radio-input{
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height:3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.4rem;
    left: 0;

    &::after{
      content: "";
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity:0;
      transition: opacity .2s;
    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
    animation: popRadio .5s ease-in-out;
  }
}