.story{
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .5);
  border-radius: 5px;
  padding: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  
  &__shape {
    width: 15rem;
    height: 15rem;
    // background-color: orangered;
    float:left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    transform: translateX(-15%) scale(1.5);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text{
    transform: skewX(12deg);
  }

  &__caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img{
    transform: translateX(-15%) scale(1);
     /* Safari 6.0 - 9.0 */
    -webkit-filter: blur(3px) brightness(80%);
    filter: blur(3px) brightness(80%);
  }
}